@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --black: #04080b;
  --white: #eff2f6;
  --gray: #808080;
  --grayBlue: #536171;
  --darkBlue: #254160;
  --lightBlue: #427bbd;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  max-width: 100vw;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

.ql-editor > p{
  font-size: 20px;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
  color: var(--gray);
  opacity: 50%;
  font-size: 20px;
  left: 0;
}

.ql-editor, .ql-editor.ql-blank{
  padding: 12px 0!important;
}

.ql-bubble .ql-editor h2 {
  font-size: 24px!important;
}